/* body {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 .5rem;
} */

details {
    background: #eee;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
}

summary {
cursor: pointer;
}

summary > * {
display: inline;
}

#simple
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#simple td, #simple th 
{
	font-size:1em;
	border:1px solid #eee;
	padding:3px 7px 2px 7px;
	text-align: center;
	height: 25px;
}
#simple th 
{
	font-size:1.1em;
	width: 300px;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#a6a6a6;
	color:#ffffff;
}
#simple tr.alt td 
{
	color:#000000;
	background-color:#EAF2D3;
}